/*variables*/
:root {
--main-color: #19c8f1;
--transparent-color:rgba(15, 115, 143, 0.676);
}
/*variables*/


/* global*/
globel
*{
   box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    html{
        scroll-behavior: smooth;
    }
body{
    font-family: 'open sans', sans-serif;
    
}
ul{
    list-style: non;
}
.container{
    padding-left: 120px;
    
}
/*small*/
@media (min-width: 768px){
    .container{
        width: 790px;
    }
}
/*meduim*/
@media (min-width:992px  ){
    .container {
        width: 970px; 
        
    }
}
/*large*/
@media (min-width: 1200px){
    .container {
        width: 1170px; 
    }
}
/* début header*/
.container img{
    width: 150px;
    height: 150px;
    padding: 0;
    
}
header .container{
    display: flex;
    justify-content:space-between ;
    align-items: center;   
    position: absolute;
    line-height: 0;
    
    
    
}
/*
header nav ::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    width: 90%;
    bottom: 0px;
    left: 120px;
       
}
*/

header  nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
      
}
header ul {
    border-bottom: 2px solid var(--main-color);
}
header  nav ul {
    display: flex;
    list-style-type: none;   
}


 header nav ul li a {
    display: block;
    padding: 30px 30px ;
    text-decoration: none;
    font-size: 20;
    font-weight: bold;
    transition: 0.3s;
    color: black;
    text-transform: capitalize;
       
 }
 header nav ul li a.active,
  header nav ul li a:hover{
    color: var(--main-color);
    transform: scale(1.5);  
 }
 .container .active a{
    color: var(--main-color);
 }

 header .form {
    width: 40px;
    height: 40px;
    border-left: 2px solid var(--main-color);
    margin-left: 30px;
    position: relative;
 }
 header .form i{
    font-size: 30px;
    color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
 }
  header nav .fa-bars  {
    font-size: 40px;
    
 }
 @media (min-width: 768px){
    header .fa-bars  {
      display: none;  
    
    } 
   
 }


@media (max-width:769px){
    header nav ul  {
        display: none;   
    }
    header ul {
        border: none;
        
    }
}
/*fin header*/
/*début landing*/
.landing{
    height: 100vh;
    
}
.landing .text{
    position: absolute;
    top: 30%;
    left: 0;
    width: 50%;
    background-color: var(--transparent-color);
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    color: white;
    
}
@media(max-width:767px){
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        width: 100%;
    }
}
.landing .text .content{
    max-width: 500px;
    
}
.landing .text .content h2{
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.landing  .fa-angles-left {
  position: absolute;  
  top: 50%;
  left: 20px;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.494);
  z-index: 1;
    
}
.landing .fa-angles-right{
    position: absolute;
    top: 50%;
    right:30px ;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.356);
}
@media(max-width:767px){
    .landing .icon{
        display: none;
    }
}
.landing ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
    width: 10%;
    position: absolute;
    left: 45%;
    bottom: 0;

}
.landing ul li{
    width: 20px;
    height: 20px;
    border: solid 1px black;
    border-radius: 50%;
    text-decoration: none;
}
.landing  .active{
    background-color: var(--main-color);
}
@media(max-width:767px){
    .landing ul {
        left: 30%;
    }
}
.services{
    position: relative;
    
}
.services .serv {
    position: relative;
    width: 40%;
    left: 26%;
    text-align: center;
    margin: 40px;
    font-size:20px;
    
    
}
.services .serv h2{
    color: var(--main-color);
    margin-bottom: 100px;
    font-size: 45px;
    font-weight: bold;
}  
.services .serv h2::after{
    content: "";
    position: absolute;
    width: 250px;
    height: 2px;
    background-color: black;
    left: 25%;
    top: 45%;

}
.services .serv h2::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: solid 3px black;
    background-color:white;
    border-radius: 50%;
    left: 48%;
    top: 39%;
    z-index: 1;
}

.services  .servcontent{

    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
     position: relative;   
    margin-top: 100px;
    column-gap: 100px;
    row-gap: 100px;

}
.services .container .text  h1{
    color: var(--main-color);
    position: relative;
    left: 40px;
    top: -40px;
    margin-top: 0;
}

.services .container .boxserv i{
    font-size: 30px;
    color: var(--transparent-color);
    

}
.services .container .text p{
    font-size: 20px;
    margin-top: -50px;
}
/* fin service*/
/*début design*/
.design{
    height: 400px;
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 30px;
    margin-right: 0;
}
 
.design img{
    height: 250px;
    width: 600px;
    position: absolute;
    top: 25%;
    left: 0;
    border-radius: 20px;
}
.design .text{
    margin-left: 0;
    width: 700px;
    height: 250px;
    background-color:var(--transparent-color);
    position: absolute;
    top: 25%;
    right:0 ;
    border-radius: 20px;   
}
.design .text h2{
    color: rgba(255, 166, 0, 0.77);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.design .text ul li {
    list-style-type: none;
    padding-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
    color:black;
    text-align: center;
}
.design .text ul li::before{
    font-family: 'font Awesome 5 free';
    content: '\f390';
    position: absolute;
    font-size: 20px;
    left: 20%;
    bottom: ;
}

/*fin design*/
/*début portfolio*/
.portfolio .container h2  + p {
    display: flex;
    justify-content: center;
    padding: 20px;
    
}
.portfolio .container ul {
    list-style-type:none;
    font-size: 20px;
}
.portfolio  .shuffel{
    display: flex;
    justify-content: center;
       
}
.portfolio  .shuffel  li{
    padding: 20px;
    margin: 20px;

}
.portfolio .shuffel  .active{
    background-color: var(--main-color);
}
.portfolio h2{
    font-size: 50px;
    color: var(--transparent-color);
    text-align: center;
    position: relative;
}

.portfolio .container h2::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: black;
    bottom: -20px;
    left: 42%;
    
}
.portfolio .container h2::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    bottom: -38px;
    left: 49%;
    
}


.portfolio .imges img{
    height: 300px;
    width: 300px;
    background-color: brown;
    transition: 0.3s;
}
.portfolio .imges{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    
}
.portfolio .imges .boximg{
    position: relative;
    overflow: hidden;
}

.portfolio .imges .caption p{
    color: var(--main-color);
    margin-bottom: 0;
}
.portfolio .imges .caption h4{
margin: 0;
padding: 0;
}


.portfolio .imges .caption{
 position: relative;
 background-color: white;
 bottom:-100% ;
 transition: 0.3s;
}
.portfolio .imges .boximg:hover .caption{
  bottom: 40px;  
}

.portfolio .imges .boximg:hover img{
    transform: rotate(2deg) scale(1.1);
}
.portfolio .plus{
    margin-top: 20px;
    background-color: var(--main-color);
    text-decoration: none;
    padding: 0;
    width: 100px;
    height: 50px;
    padding-left: 25px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: auto;
    font-size: 30px;
    border-radius: 20px;
    color: white;
    transition: 0.3s;
}
.portfolio .plus:hover{
    transform: scale(1.5);
}
/*fin portfolio*/
/*début video*/
.video{
    position: relative;
}

.video video{
    width: 90%;
    position: relative;
    left: 50px;
    margin: 40px;

}
.video .text{
    position: absolute;
    background-color: var(--transparent-color);
    width: 85%;
    height: 250px;
    top: 50%;
    left:9%;
    
}
.video .text h2{
    color: white;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;

}
.video .text p{
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.video .text button{
    font-size: 20px;
    padding: 15px;
    position: absolute;
    left: 45%;
    bottom: 15px;
    border-radius: 10px;
    border: none;
}
@media (max-width:767px){
    .video .text {
        margin-top: 150px;
        background-color: red;
    }
}
@media (max-width:767px){
    .video .text button {
        position: absolute;
        margin-top: 100px;
        bottom: -60px;
        left: 30%;    
    }  
}
/*fin video*/
/*début statistique*/
.statistique .container{
    background-color: var(--transparent-color);
    display: flex;
    justify-content: space-between;
flex-wrap: wrap;
padding: 20px;
text-align: center;
margin: auto;
width: 90%;
height: 250px;
position: relative;
       
}
.statistique .container .box{
 position: relative; 
 margin: auto;   
}
.statistique .container .box i{
font-size: 20px;
height: 40px;
width: 40px;
background-color: black;
border: 1px solid black;
border-radius: 50%;
color: white;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}
.statistique .container .box h2{
font-size: 50px;
color: white;
margin-top: 5px;
margin-bottom: 5px;
}
.statistique .container .box p{
    color: white;
    margin-top: 0;
    
}
@media (max-width:767px){
    .statistique .container{
        margin-top: 350px;
        height: auto;
    }
}
@media(max-width:767px){
    .statistique .container .box {
        flex-basis: 100%;
            
    } 
}
@media(min-width:768px){
    .statistique .container .box {
        flex-basis: 30%;          
    } 
}
@media(min-width:768px){
    .statistique .container  {
        margin-top: 20px;
              
    } 
}
@media(min-width:992px){
    .statistique .container .box{
        flex-basis: 20%;
    } 
}
/*fin statistique*/
/* début compétences*/
.cont{
    margin: 50px;
    width: 400px;
    height: 20px;
    background-color: lightgrey;
}
.compétences .content .cont span{
    display: block;
    height:100%;
    background-color: var(--main-color);
    position: relative;
}
.compétences{
    width: 90%;
    margin-left: 25px;   
}

.compétences .container {
    
    margin-top: 30px;
    margin-left: 60px;
    padding: 30px;
    background-color: bisque;
     flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;   
}
@media (max-width:767px){
    .compétences .container{
        background: none;
        text-align: center;
        padding-right: 100px;
        
    }
}
.compétences .container .content{
    position: relative;
    margin-top: 30px;
}
.compétences .container .content h2{
    margin-bottom: 0;
    position: absolute;
    top: -15px;
    left: 40px;
}
.compétences .container .content span::before{
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -60px;
    right: -25px;
    padding: 10px;
    border-radius: 5px;
}
.compétences .container .content span::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px;
    border-color: black transparent transparent transparent;
    right: -15px;
    top: -20px;
}
/*fin compétences*/

/*début Abonnements*/
.Abonnements {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 90%; 
    display: flex;
    margin-right: 100px;
}
.Abonnements .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 20px;
}
.Abonnements .container .box{
    background-color: beige;
    text-align: center;
    
}

.Abonnements .container .box .text{
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    padding: 30px;
}
.Abonnements .container .box h2{
    font-size: 25px;
    font-weight: normal;
}

.Abonnements .container .box span{
font-size: 50px;
font-weight: bold;
position: relative;
}
.Abonnements .container .box span:after{
    content: '€';
    position: absolute;
    font-size: 30px;
    color: black;
    top: -20px;
    left: -20px;
    font-weight: normal;
}
.Abonnements .container .box li{
    list-style-type: none;
    text-align: center;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.Abonnements .container .box ul li:not(:last-child){
    border-bottom: 2px solid var(--main-color); 
}

.Abonnements .container .box ul{
    border-bottom: 2px solid var(--main-color);
    
}
.Abonnements .container .box button{
    margin: 60px;
    padding: 15px;
    color: darkblue;
    font-weight: bold;
    border: 1px solid var(--main-color);
    height: 100px;
    width: 100px;
}
/*fin Abonnements*/
 
/*début inscription*/
.inscription{
    margin-top: 40px;
    margin-bottom: 40px;
}
.inscription .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    
}
.inscription .container .form{
display: flex;
width: 500px;
    
}
.inscription form input[type = "email"]{
width: 300px;
height: 50px;
border: 1px solid var(--main-color);

}

.inscription form input[type= "submit"]{
    height: 54px;
    border: 1px solid var(--main-color);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: white;
    position: absolute;
    margin-right: 20px;
    
    
}
.inscription form input::placeholder{
    font-size: 20px;
    padding-left: 60px;
}

.inscription form i{
    font-size: 30px;
    position: absolute;
    top: 25px;
    padding: 10px;
    
    
    
}
.inscription p{
    font-size: 30px;
    margin-left: 40px;
}
/*fin  inscription*/
/*début contact*/
.contact h1{
    color: var(--transparent-color);
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}
.contact h1::after{
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: black;
    bottom: -30px;
    left: 42%;
    
      
}
.contact h1::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    bottom: -45px;
    left: 49%;
    z-index: 1;   
}
.contact {
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media (max-width:767px){
    
        .contact .container{
            flex-direction: column;
            
        }
        .contact h1{
         background-color: aquamarine;
         margin-left: 120px;
         
        }
        .contact h1::after{
          display: none;
        }
    
}
.contact .container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.contact .container form{
    flex-basis: 70%;
}
.contact .container form .main-input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    font-size: 20px;
}
.contact .container form textarea{
    height: 200px;
}
.contact .container form input[type='button']{
    background-color: var(--main-color);
    padding: 20px;
    display: flex;
    margin: auto;
    text-transform: uppercase;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}
.contact .container form input[type='button']:hover{
    transform: scale(1.3);

}
.contact .container .text{
    flex-basis: 20%;
    
}
.contact .container .text h4{
margin-bottom: 20px;
}
.contact .container .text span{
    display: block;
    color: #777;
    

}
.contact .container .text  h4:nth-of-type(2){
    margin-top: 130px;
    
}
.contact .container .text address{
    color: #777;
}


/*fin contact*/










